{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for image in data %}
                    <div class="col-md-4 img-grid-style">
                    <div class="img-grid-hover">
                        <h2>{{ image.name }}</h2><br />
                        <p>{{ image.description }}</p> <br />
                        <a class="btn btn-default" href="/user/image/delete/{{ image.id }}" role="button">View Image</a>
                        <a class="btn btn-primary" href="/user/image/edit/{{ image.id }}" role="button">Edit image</a>
                        <a class="btn btn-danger" href="/user/image/delete/{{ image.id }}" role="button">Delete</a>
                    </div>
                    <img src="{{ asset('uploads/images/' ~ image.image) }}" /><br/><br/>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}