{% block menu %}

    {% block flashMessage %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div>
                    <input type="checkbox" id="one" class="hidden" name="ossm">
                    <label for="one" class="alert-message">
                        <strong> <i class="fas fa-exclamation-triangle"> </i> </strong>{{ message }}
                        <span class="close">×</span>
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar" class="collapse navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    {{ block('default', 'menuItems.html.twig') }}

                </ul>



            </div>
        </div>
    </nav>

    <nav id="sidebar">
        <div class="header">
            <h1>Hi, {{ app.user.firstname }} {{ app.user.lastname }}</h1>

            <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-header"  >
            
        </div>

        <div class="menu-items">
            {% if is_granted('ROLE_SUPER_ADMIN') -%}

                <ul>
                    {{ block('admin', 'menuItems.html.twig') }}
                    {{ block('user', 'menuItems.html.twig') }}
                </ul>

            {% elseif is_granted('ROLE_USER') or is_granted('ROLE_SUPER_ADMIN') -%}


                <ul>
                    {{ block('user', 'menuItems.html.twig') }}
                </ul>


            {% else %}

                <ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register/">Registreer</a></li>
                        </ul>
                    </li>
                </ul>

            {% endif %}
        </div>

    </nav>




{% endblock %}