{% extends '::base.html.twig' %}

{% block content %}
<div class="container top-container">

    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-md-12">
            <h1><strong> {% if question.solved %} Opgelost |{% endif %}  {{ question.title }}</strong> |  {% if question.category.title is not defined %}  {{ question.category.title }} {% endif %} </h1>
        </div>

        <div class="col-md-1">
            <h2>{{ question.votes }}</h2>
        </div>

        <div class="col-md-1">
            <h2>            <a href="{{ path('up_vote_question', { 'question': question.id, 'vote': 1 }) }}">+</a></h2>
        </div>
        <div class="col-md-1">
            <h2>            <a href="{{ path('up_vote_question', { 'question': question.id, 'vote': -1 }) }}">-</a>
            </h2>
        </div>
   </div>

    <p>
        {{ question.text }}
    </p>

    <p><strong>{{ question.user.username }} </strong>| {% if question.user.ranking.title is not null %} {{ question.user.ranking.title }} {% endif %}</p>
    <p>Gepost op: {{ question.datePosted|date('d F Y H:i') }}</p>
    {% if question.dateEdited is not null %}
        <p>Bewerkt op: {{ question.dateEdited|date('d F Y H:i') }}</p>
    {% endif %}


    <hr>

    {% for answers in givenAnswers %}
        <div class="row">
            <div class="col-md-2">
                <h2>{{ answers.votes }}</h2>
            </div>
            <div class="col-md-8">
                <div class="alert alert-success" role="alert">
                    <p><strong>{{ answers.description }}</strong></p>
                    <p>{{ answers.user.username }} | {{ answers.datePosted|date('d F Y H:i') }}</p>
                    <p></p>
                </div>
            </div>

            <div class="col-md-2">
                <a href="{{ path('up_vote_answer', { 'answer': answers.id, 'vote': 1 }) }}">+</a>
                <a href="{{ path('up_vote_answer', { 'answer': answers.id, 'vote': -1 }) }}">-</a>
            </div>
        </div>
    {% endfor %}

    <ul>
        <h3>Beantwoord vraag!</h3>
        {{ form_start(answerForm) }}
        {{ form_widget(answerForm) }}
        {{ form_end(answerForm) }}

        <li>
            <a href="{{ path('question_index') }}">Back to the list</a>
        </li>

        {% if is_granted('ROLE_SUPER_ADMIN') %}

            <li>
                <a href="{{ path('question_edit', { 'id': question.id }) }}">Edit</a>
            </li>

        {% endif %}
    </ul>
</div>
{% endblock %}
