{% extends '::base.html.twig' %}

{% block content %}
<div class="container top-container">
    <h1>Companymemberfunction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ companyMemberFunction.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_companymemberfunction_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_companymemberfunction_edit', { 'id': companyMemberFunction.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
