{% extends '::base.html.twig' %}

{% block content %}

<div class="container top-container">
    <h1>Vragen </h1>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Filter op catogorieen </button>
        <ul class="dropdown-menu">
            {% for cat in category %}
                    <li>
                        <a href="{{ path('topic_search_on_key', { 'id': cat.id }) }}">{{ cat.title }}</a>
                    </li>
            {% endfor %}
        </ul>
    </div>

    <table class="table  table-striped table-hover">
        <thead>
            <tr>
                <th>Stemmen</th>
                <th>Titel</th>
                <th>GeposteDatum</th>
                <th>Opgelost</th>
                <th>Geactiveerd</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.votes }}</td>
                <td><a href="{{ path('topic_show', { 'id': topic.id }) }}">{{ topic.title }}</a></td>
                <td>{% if topic.datePosted %}{{ topic.datePosted|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if topic.solved %}Yes{% else %}No{% endif %}</td>
                <td>{% if topic.activated %}Yes{% else %}No{% endif %}</td>
                <td>

                    <a href="{{ path('topic_show', { 'id': topic.id }) }}" class="btn btn-default">Laat zien</a>
                    <a href="{{ path('topic_edit', { 'id': topic.id }) }}" class="btn btn-default">Bewerken</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('topic_new') }}" class="btn btn-default">Maak een nieuw vraag</a>

</div>
{% endblock %}
