{% extends 'admin/index.html.twig' %}

{% block content %}
    <div class="container">
        <h1>User</h1>
        <table class="table  table-striped table-hover">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Last login</th>
                <th>Role</th>
                <th>Person details</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
                {% for item in user %}
                    <tr>
                        <td>{{ item.username }}</td>
                        <td>{{ item.email }}</td>
                        {% if item.enabled == 1 %}
                            <td>Active</td>
                        {% else %}
                            <td>Non active</td>
                        {% endif %}
                        <td>{{ item.lastLogin|date("d/m/Y:H:I:s") }}</td>
                        <td>{{ item.roles|join(', ') }}</td>
                        <td>
                            <a class="btn btn-default" href="{{ path('user_all_details', {'id': item.id}) }}" role="button">View</a>
                        </td>
                        <td>
                            <a class="btn btn-default" href="{{ path('user_edit', {'id': item.id}) }}" role="button">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}