<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block javascripts %}
        {% javascripts
            'bundles/js/jquery-3.1.1.js'
            'bundles/js/bootstrap.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% stylesheets
        'bundles/css/default/bootstrap.css' filter='cssrewrite'
        'bundles/css/default/index.css'
        'bundles/css/edits.css'

    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>



{% include 'topnav.html.twig' %}
{% block body %}{% endblock %}
{% block content %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="container top-container">
        <h1></h1>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}



</body>
</html>
