{% extends '::base.html.twig' %}

{% block content %}
<div class="container top-container">
    <h1>Companyfunction edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-default" type="submit" value="Aanpassen" />
    {{ form_end(edit_form) }}

    <ul>
            <a class="btn btn-default" href="{{ path('companyfunction_index') }}" >Terug naar overzicht</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-default" type="submit" value="Verwijderen">
            {{ form_end(delete_form) }}
    </ul>
</div>
{% endblock %}
