{% extends '::base.html.twig' %}

{% block content %}
<div class="container top-container">
    <h1>Ranking</h1>

    <table class="table  table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ranking.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ranking.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ranking.description }}</td>
            </tr>
            <tr>
                <th>Upvoteamount</th>
                <td>{{ ranking.upvoteAmount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ranking_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ranking_edit', { 'id': ranking.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
