{% extends '::base.html.twig' %}

{% block content %}
<div class="container top-container">
    <h1>Leden van bedrijven</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Bedrijf</th>
                <th>Opties</th>
            </tr>
        </thead>
        <tbody>
        {% for companyMember in companyMembers %}
            <tr>
                <td><a href="{{ path('user_companymember_show', { 'id': companyMember.id }) }}">{{ companyMember.id }}</a></td>
                <td>{{ companyMember.user.firstname }}</td>
                <td>{{ companyMember.user.lastname }}</td>
                <td>{{ companyMember.company.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_companymember_show', { 'id': companyMember.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_companymember_edit', { 'id': companyMember.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>



        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_companymember_new') }}">Create a new companyMember</a>
        </li>
    </ul>
</div>
{% endblock %}
