{% extends '::base.html.twig' %}

{% block content %}
    <div class="container top-container">
        <h1>Company</h1>

        <table class="table  table-striped table-hover">
            <tbody>
            <tr>
                <th>Title</th>
                <td>{{ company.title }}</td>
            </tr>
            <tr>
                <th>Beschrijving</th>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ company.websiteUrl }}</td>
            </tr>
            <tr>
                <th>Kvk</th>
                <td>{{ company.kvk }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-6">
                <h3>Personeel</h3>
                {% for member in members %}
                    {{ member.user.firstName }} {{ member.user.lastName }} <br />

                {% endfor %}
            </div>
            <div class="col-md-6">
                <h3>Gebruiker toevoegen</h3>
                {% for user in users %}

                    {{ user.firstName }} {{ user.lastName }} <br />
                    {{ user.email }} <br />
                    <a href="{{ path('company_owner_add_user', { 'id': user.id }) }}">Voeg gebruiker toe</a>

                    <hr>

                {% endfor %}
            </div>
        </div>


        {#<ul>#}
            {#<li>#}
                {#<a href="{{ path('company_index') }}">Back to the list</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="{{ path('company_edit', { 'id': company.id }) }}">Edit</a>#}
            {#</li>#}
        {#</ul>#}
    </div>
{% endblock %}
