{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <div class="col-md-6 scroll-container">

                {% for slider in data %}
                    <h2>{{ slider.title }}</h2>
                    <hr />
                    {{ slider.smallDescription }} <br />
                    {{ slider.description }} <br />
                    {{ slider.date }} <br />
                    {{ slider.link }} <br />
                    <img src="{{ asset('uploads/images/' ~ slider.image.image) }}" width="100px" />

                    <br />
                    <br />

                    <a class="btn btn-default" href="/user/item/edit/{{ slider.id }}" role="button">Edit</a>
                    <a class="btn btn-danger" href="/user/item/delete/{{ slider.id }}" role="button">Delete</a>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}