{% extends '::base.html.twig' %}

{% block content %}
    <div class="container top-container">

        <br />
        <br />
        <br />
        <table class="table  table-striped table-hover">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Categorie & subCategorie</th>
                    <th>Onderwerp Type</th>
                    <th>Vraag text</th>
                    <th>GeposteDatum</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
            {% for topic in topics %}
                 <tr>
                    <td> {{ topic.title }}</td>
                    <td>{% if topic.category is null  %} Geen categorie {% else %} {{ topic.category.title }} {% endif %} {% if topic.subCategory is null %}-{% else %}  {{ topic.subCategory }} {% endif %}</td>
                    <td>{{ topic.topicType }}</td>
                    <td> {{ topic.text }}</td>
                    <td>{{ topic.datePosted|date('d F Y H:i') }}</td>
                    <td><a href="{{ path('topic_show', { 'id': topic.id }) }}" class="btn btn-default">Laat zien</a></td>
                 </tr>

            {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
{% endblock %}









